﻿@import url("https://fonts.googleapis.com/css?family=Poppins");

body,
button,
td,
h1 {
    font-family: "Poppins", sans-serif;
}

form {
    max-width: 15rem;
    padding: 2rem;
}

form > div {
    display: flex;
    align-items: flex-start;
}

input {
    border-width: 0;
    border-bottom: 0.04rem solid black;
    border-radius: 0;
}

input + label {
    transition: all 0.2s;
}

input + label {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    color: gray;
}

input:focus + label,
.dirty input + label {
    font-size: 1.25rem;
    top: -1.5rem;
    color: black;
}

input {
    outline: 0;
    padding: 0;
}

input,
label,
button,
td,
th {
    font-size: 1.75rem;
}

input {
    width: 15rem;
}

label {
    font-size: 1.25rem;
}

button {
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.custom-input-container,
.custom-select-container {
    position: relative;
    margin: 0 0 1.5rem 0;
}

button[type="submit"] {
    background-color: orange;
    color: white;
}

.valid input {
    border-color: green;
}

.invalid input {
    border-color: red;
}

.error-text {
    background-color: red;
    color: white;
    margin-top: 0.75rem;
    position: relative;
}

.error-text::before {
    content: "";
    border-color: transparent transparent red transparent;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0.5rem 0.5rem 0.4rem;
    position: absolute;
    left: 1.25rem;
    top: -0.5rem;
}
